/* Reset some default styles for consistency across browsers */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, monospace;
  line-height: 1.6;
  color: rgb(35, 110, 0);
  background-color: rgb(0, 0, 0);
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: rgb(0, 0, 0);
  color: rgb(35, 110, 0);
  padding: 11px;
}

h1 {
  font-size: 2em;
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: rgb(35, 110, 0);
}

a:hover {
  color: rgb(35, 110, 0);
}

section {
  margin: 20px 0;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(35, 110, 0);
  padding: 10px;
  text-align: center;
}